[submodule "external_libs/libleidenalg"]
	path = external_libs/libleidenalg
	url = https://github.com/vtraag/libleidenalg.git
[submodule "external_libs/igraph"]
	path = external_libs/igraph
	url = https://github.com/igraph/igraph.git
[submodule "external_libs/VieCut"]
	path = external_libs/VieCut
	url = https://github.com/VieCut/VieCut.git
